.navigation {
    flex-direction: column;
    width: 60px;
    border-right: 1px solid $color-divider;
    background-color: $color-panel-background;

    .route {
        position: relative;
        justify-content: center;
        align-items: center;
        height: 60px;
        // background-color: $color-accent;
        color: #fff;

        &:hover {
            background-color: $color-hover;
        }

        &:not(:last-child):not(:hover):after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 16px;
            right: 16px;
            height: 1px;
            background-color: #252525;
        }
    }
}
