.sidebar {
    flex-direction: column;
    min-width: 280px;
    max-width: 280px;
    border-left: 1px solid $color-divider;
    background-color: $color-panel-background;

    .section {
        flex-direction: column;

        .header {
            padding: 10px 24px;
            background-color: #000;

            .title {
                color: #fff;
                font-size: 12px;
            }
        }

        .section-content {
            flex-direction: column;
            padding: 12px;
        }
    }
}
