@import 'variables';
@import 'fonts';

body {
    display: flex;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: $color-text;

    #react-mount,
    #app {
        flex-grow: 1;
        width: 100%;
    }

    #app {
        background-color: #000;
    }
}

// GENERAL -------------

div {
    display: flex;
    box-sizing: border-box;
}

button {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 4px 8px;
    max-height: 22px;
    border-radius: 4px;
    background-color: $color-accent;
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    color: #fff;
    outline: none;
    border: 0;

    &:hover {
        opacity: 0.8;
    }
}

// COMPONENTS ----------
@import '../components/Icon';
@import '../components/Canvas';
@import '../components/Toolbar';
@import '../components/Sidebar';
@import '../components/controls/Control';
